@import "./styles/mixins.module.scss";

.App {
  text-align: center;
}

.mainBody {
  @include flexThis(space-between, flex-start, row);
  height: 700px;
}

.navContainer {
  width: 10%;
  background-color: pink;
  height: 700px;
}

.wheelContainer {
  width: 70%;
  height: 700px;
}

.descriptionContainer {
  width: 20%;
  background-color: green;
  height: 700px;
}

.entryFormContainer {
  width: 100%;
  background-color: blue;
  height: 500px;
}

// @keyframes App-logo-spin {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }
