@import "./styles/mixins.module.scss";

.App {
  text-align: center;
}

.mainBody {
  @include flexThis(space-between, flex-start, row);
  height: 700px;
}

.navContainer {
  width: 20%;
  background-color: pink;
  height: 700px;
}

.Container {
  position: relative;
  width: 80%;
  height: 100%;
  @include flexThis(center, center, column);
  background: linear-gradient(
    180deg,
    rgba(34, 195, 178, 1) 0%,
    rgba(251, 251, 251, 1) 100%
  );
}
