.segment {
  fill: purple;
  z-index: 10;
}

.wheel_segment {
  background-color: lightblue;
  opacity: 0.6;
  overflow: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
  transform: translate(0, -50%) rotate(90deg) rotate(0deg);
  transform-origin: 50% 100%;
  width: 100%;
}

.wheel_segment::before {
  background-color: teal;
  overflow: hidden;
  opacity: 0.6;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  transform: translate(0, 100%) rotate(45deg);
  transform-origin: 50% 0;
  width: 100%;
}
