@import "../../styles/mixins.module.scss";

.newEntryForm {
  width: 80%;
  text-align: center;
  background-color: lightcoral;
  border-radius: 1rem;
  padding: 0.5rem;

  h2 {
    margin-top: 2rem;
  }

  p {
    margin-top: 3rem;
  }
}

.feelingList {
  height: 12rem;
  width: 45%;
  margin: 0 auto;
  @include flexThis(space-between, center, row);
  flex-wrap: wrap;
}

.feelingTile {
  margin-top: 0.75rem;
  height: 5rem;
  background-color: white;
  border-radius: 1rem;
  width: 5rem;

  &__icon {
    margin-top: 1rem;
    color: gold;
    size: 32px;
  }

  p {
    margin-top: 0.2rem;
    font-size: 0.8rem;
  }
}
