@import "../../styles/mixins.module.scss";

.newEntryForm {
  width: 80%;
  max-width: 600px;
  text-align: center;
  background-color: #d8d8d6;
  border-radius: 1rem;
  padding: 0.5rem;

  h2 {
    margin-top: 2rem;
  }

  p {
    margin-top: 3rem;
  }
}

.primaryFeeling {
  margin-top: 0.2rem;
  height: 3rem;
  background-color: white;
  border-radius: 1rem;
  width: 7.5rem;
  @include flexThis(space-between, center, row);
}

.feelingList {
  height: 12rem;
  width: 60%;
  margin: 0 auto;
  @include flexThis(space-evenly, center, row);
  flex-wrap: wrap;
}

.feelingTile {
  margin: 0.75rem;

  height: 5rem;
  background-color: white;
  border-radius: 1rem;
  width: 5rem;

  &__icon {
    margin-top: 1rem;
    color: gold;
  }

  p {
    margin-top: 0.2rem;
    font-size: 0.8rem;
  }
}

.feelingsTagList {
  height: 5rem;
  width: 70%;
  margin: 0 auto;
  @include flexThis(space-evenly, center, row);
  flex-wrap: wrap;
}

.feelingTag {
  margin-top: 0.2rem;
  height: 1.3rem;
  background-color: white;
  border-radius: 1rem;
  width: 7.5rem;
  @include flexThis(space-between, center, row);

  &__icon {
    color: black;
    margin-left: 0.4rem;

    &_emoticon {
      color: gold;
      margin-right: 0.4rem;
    }
  }

  &__text {
    font-size: 0.5 rem;
  }
}
