@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.outerContainer {
  @include flexThis(space-between, center, row);
}

.newEntryForm {
  width: 80%;
  width: 550px;
  height: 400px;
  text-align: center;
  background-color: #e5e5e5;
  border-style: outset;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;

  h1 {
    margin-top: 2rem;
    font-family: $header-font;
  }

  p {
    margin-top: 3rem;
  }
}

.primaryFeeling {
  font-family: $header-font;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.feelingList {
  height: 12rem;
  width: 60%;
  margin: 0 auto;
  @include flexThis(start, center, row);
  flex-wrap: wrap;
}

.feelingTile {
  margin: 0.75rem;

  height: 5rem;
  background-color: white;
  border-radius: 1rem;
  width: 5rem;

  &__icon {
    margin-top: 1rem;
    color: gold;
  }

  p {
    margin-top: 0.2rem;
    font-size: 0.8rem;
  }
}

.feelingTile:hover > .feelingTile__icon {
  animation-name: bounceUp;
  animation-duration: 1s;
}

.feelingsTagList {
  height: 5rem;
  width: 70%;
  margin: 0 auto;
  @include flexThis(space-evenly, center, row);
  flex-wrap: wrap;
}

.feelingTag {
  opacity: 0.8;
  margin-top: 0.2rem;
  height: 1.3rem;
  background-color: white;
  border-radius: 1rem;
  width: 7.5rem;
  font-size: 0.6rem;
  @include flexThis(space-between, center, row);
  h5 {
    font-family: $body-font;
  }
  &__icon {
    color: black;
    margin-left: 0.4rem;
  }

  &__emoticon {
    color: gold;
    margin-right: 0.4rem;
  }

  &__text {
    font-size: 0.5 rem;
  }
}

.feelingTag:hover {
  opacity: 1;
  border-style: solid;
  border-color: gray;
  border-width: thin;
}

.inputHeader {
  @include flexThis(flex-start, center, row);
  font-family: $header-font;
  width: 80%;
  text-align: center;
  margin: 2rem auto;
}

.input {
  border-radius: 1rem;
  padding: 1rem;
  height: 6rem;
  width: 25rem;
}

@keyframes bounceUp {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
