@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.EntryList {
  width: 80%;
  width: 550px;
  min-height: 300px;
  text-align: center;
  background-color: #e5e5e5;
  border-style: outset;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;

  h1 {
    margin-top: 2rem;
    font-family: $header-font;
  }

  p {
    margin-top: 3rem;
  }
}
